<!-- ke thua tu trang base html -->
<!-- ke thua  -->
{% extends "base.html" %} 
<!-- luu y khi ke thua phai cung thu muc -->
<!-- truong hop de rieng thi phai dan ten cua folder ra -->
{% block title %} Home page {% endblock %}

{%block content %} 
<h2>Day la Login page</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for m in messages %}
            <P>{{m}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
        
<!-- Tao ra 1 cai form -->
<!-- cach le trai 50 pixel -->
<div style="margin-left: 50px;"> <!-- cach le trai 50 pixel -->
    <form action="#" method="post">  <!-- form ko co gi de # -->
        <label for=""> Ten ban la gi: </label>  <!--Label la nhan-->
        <input type="text" name="name" ></input>
        <button style="background-color: slateblue; color: white;" type="submit "> Login </button>
    </form>

{% endblock %}